.example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 49%;
  }
  .addname{
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
  }