<div  class="example-button-container">
    <button mat-mini-fab color="basic" (click)="addJob()" aria-label="Example icon button with a filter list icon">
      <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <form class="example-form">
        <div class="fix-layout-content">
            <mat-form-field class="example-full-width" appearance="fill">
                <input type="text" matInput placeholder="Tên công việc, ngày hết hạn" name="info" id="searchStr">
                <mat-icon matPrefix (click)="search()">search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sắp xếp theo</mat-label>
                <select aria-label="State" matNativeControl required (change)="selected($event)">
                    <option value=""></option>
                    <option value="" value="dateInterview">Ngày hết hạn</option>
                    <!-- <option value="" value="dateRegister" *ngFor="let obj of sortByLastModifiedDesc"> {{obj.jobRegister.dateRegister}}ngày phỏng vấn</option> -->
                </select>

            </mat-form-field>
        </div>
    </form>
</div><br/><br><br>
<!-- <div  class="example-button-container">
    <button mat-mini-fab color="basic" aria-label="Example icon button with a filter list icon">
      <mat-icon>add</mat-icon>
    </button>
</div> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i +1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="jobPositionId">
        <th mat-header-cell *matHeaderCellDef> Vị trí công việc </th>
        <td mat-cell *matCellDef="let element"> {{element.jobPositionId}} </td>
    </ng-container>
    <ng-container matColumnDef="startRecruitmentDate">
        <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu tuyển dụng </th>
        <td mat-cell *matCellDef="let element"> {{element.startRecruitmentDate}} </td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
        <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
    </ng-container>
    <ng-container matColumnDef="salaryMax">
        <th mat-header-cell *matHeaderCellDef> Mức lương cao nhất </th>
        <td mat-cell *matCellDef="let element"> {{element.salaryMax}} </td>
    </ng-container>
    <ng-container matColumnDef="salaryMin">
        <th mat-header-cell *matHeaderCellDef> Mức lương thấp nhất </th>
        <td mat-cell *matCellDef="let element"> {{element.salaryMin}} </td>
    </ng-container>
    <ng-container matColumnDef="statusJobId">
        <th mat-header-cell *matHeaderCellDef> Trạng thái tuyển dụng </th>
        <td mat-cell *matCellDef="let element"> {{element.statusJobId}} </td>
    </ng-container>
    <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef> Lượt xem </th>
        <td mat-cell *matCellDef="let element"> {{element.views}} </td>
    </ng-container>

    <ng-container matColumnDef="statusJobRegister">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.statusJobRegister.name}} 
        </td>
      </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                    (click)="editJE($element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Chi tiết </th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-container">
                <button mat-mini-fab color="warn"
                (click)="showdetails(element)" aria-label="Example icon button with a filter list icon">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]='100' [pageIndex]="currentPage" [pageSize]="pageSize" (page)="pageChanged($event)"
    [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
</mat-paginator>