* {
    margin: 0;
    padding: 0
}



body {
    font-family: 'Arial', sans-serif;
    // background: url(../img/186532352_4079990662058820_7654414730320219492_n.jpg) no-repeat;
    background-size: cover;

    background-size: 100%;
}

.codehim-form {
    max-width: 400px;
    min-height: 400px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin: 20px auto 0 auto;
    padding: 25px;
    color: #414141;

}

.form-contents {
    display: flex;
    flex-direction: row;
}

.form-group-conten {
    display: flex;
    flex-direction: column;

    // justify-content: space-around;
}

.cm-input {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin: 14px auto;
    border-radius: 20px;
    border: 1px solid #ccc;


}

.cm-input:focus {
    outline: 0;
    border-color: #f9cb81;

}

.cm-input:invalid {
    border-color: #e41b17;

}

/* Gradient Background */
.gr-bg {
    background: #e2ab29;


}


/* Login Button Design */

.btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;

}

.btn-login:focus {
    outline: 0;
}

.btn-login:hover {
    opacity: 0.8;
    transition: .3s;
}

/* For, tiele */
.form-title {
    padding: 12px;
    text-align: center;
    position: relative;


}



.form-title .user-icon {
    position: absolute;

    font-size: 42px;
    color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 45px;
    top: -60px;
    left: -45px;

}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

article,
header,
section,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    color: #222;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: #373e18;
}

section {
    float: left;
    width: 100%;
    padding-bottom: 3em;
}

h2 {
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
}

h2 span {
    display: block;
    padding: 0;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 5px;
    text-transform: uppercase;
}

#float-right {
    float: right;
}


.ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
}

.ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
}

.ScriptTop li {
    list-style: none;
    display: inline-block;
}

.ScriptTop li a {
    background: #6a4aed none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
}

.ScriptTop li a:hover {
    background: #000;
    color: #fff;
}



.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}

.rt-heading {
    margin: 0 auto;
    text-align: center;
}

.Scriptcontent {
    line-height: 28px;
}

.ScriptHeader h1 {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;

}

.ScriptHeader h2 {
    color: #312c8f;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;

}

.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;

}

.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}



.rt-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.rt-row:before,
.rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.rt-row:after {
    clear: both;
}

[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
}


@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }

    [class^="col-rt-"] {
        float: left;
        width: 49.9999999999%;
    }

    .col-rt-6,
    .col-rt-12 {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .rt-container {
        width: 1170px;
    }

    .col-rt-1 {
        width: 16.6%;
    }

    .col-rt-2 {
        width: 30.33%;
    }

    .col-rt-3 {
        width: 50%;
    }

    .col-rt-4 {
        width: 67.664%;
    }

    .col-rt-5 {
        width: 83.33%;
    }


}

@media only screen and (min-width:240px) and (max-width: 768px) {

    .ScriptTop h1,
    .ScriptTop ul {
        text-align: center;
    }

    .ScriptTop h1 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .ScriptTop ul {
        margin-top: 12px;
    }

    .ScriptHeader h1,
    .ScriptHeader h2,
    .scriptnav ul {
        text-align: center;
    }

    .scriptnav ul {
        margin-top: 12px;
    }

    #float-right {
        float: none;
    }

}

.footer-form {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;

}

.footer-form div a {
    color: #414141;
}